@model dynamic

@{
    ViewBag.Title = "Admin";
    Layout = "AdminLayout";
}
<p>
    lorem ipsum dolor sit amet consectetur adipisicing elit sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
</p>