@model dynamic

@{
    ViewBag.Title = "Admin";
    Layout = "AdminLayout";
}
<header class="py-10 mb-4 bg-gradient-primary-to-secondary">
    <div class="container-xl px-4">
        <div class="text-center">
            <h1 class="text-white">Welcome to Admin Panel</h1>
            <p class="lead mb-0 text-white-50"></p>
        </div>
    </div>
</header>
<div class="container-xl px-4">
    <h2 class="mt-5 mb-0">Dashboards</h2>
    <p>Three dashboard examples to get you started!</p>
    <hr class="mt-0 mb-4"/>
    <div class="row">
        <div class="col-md-6 col-xl-4 mb-4 mb-xl-0">
            <a class="d-block lift rounded overflow-hidden mb-2" href="dashboard-1.html">
                <img class="img-fluid" src="https://assets.startbootstrap.com/img/screenshots-product-pages/sb-admin-pro/dashboards/default.png" alt="..."/>
            </a>
            <div class="text-center small">Default Dashboard</div>
        </div>
        <div class="col-md-6 col-xl-4 mb-4 mb-xl-0">
            <a class="d-block lift rounded overflow-hidden mb-2" href="dashboard-3.html">
                <img class="img-fluid" src="https://assets.startbootstrap.com/img/screenshots-product-pages/sb-admin-pro/dashboards/affiliate.png" alt="..."/>
            </a>
            <div class="text-center small">Affiliate Dashboard</div>
        </div>
        <div class="col-md-6 col-xl-4">
            <a class="d-block lift rounded overflow-hidden mb-2" href="dashboard-2.html">
                <img class="img-fluid" src="https://assets.startbootstrap.com/img/screenshots-product-pages/sb-admin-pro/dashboards/multipurpose.png" alt="..."/>
            </a>
            <div class="text-center small">Multipurpose Dashboard</div>
        </div>
    </div>
</div>