@using DAO.Models.Devices
@model Dictionary<DAO.BaseModels.Room, IEnumerable<DAO.BaseModels.Device>>
@{
    ViewBag.Title = "title";
    Layout = "MyLayout";
}
<ul class="box-info" id="boxInfoList">
    @foreach (var roomWithDevices in Model)
    {
        if (roomWithDevices.Value.Any())
        {
            @foreach (var device in roomWithDevices.Value)
            {
                // check if device instance of Light
                if (device is Light)
                {
                    <li>
                        <span class="textlight">
						<div class="text ">
							<h3>Light</h3>
							<div class="lamp-wrapper-main">
								<div class="lamp-rope"></div>
								<div class="lamp-inner">
									<div class="lamp-main lamp-bottom"></div>
									<div class="lamp-blub"></div>
								</div>
							</div>
							<form oninput="document.body.setAttribute('data-light', slider.value)" class="lamp-input">
								<label for="slider" class="slider-label">Độ sáng:</label>
								<div class="slider-container">
									<div class="icon-sun">
										<i class='bx bxs-sun'></i>
									</div>
									<input type="range" id="slider" value="0" min="0" max="10" class="slider">
								</div>
							</form>
							<button type="button" id="toggle-button" class="toggle-btn">Bật/Tắt</button>
						</div>
					    </span>
                    </li>
                }

                if (device is Fan)
                {
                    <li>
                        <span class="textfan">
						<div class="text ">
							<h3>Fan</h3>
							<div class="part">
								<div class="box">
									<img src="https://cdn-icons-png.flaticon.com/512/95/95252.png" width="100%" height="100%">
									<div class="box1"></div>
								</div>
							</div>
							<form class="fan-input">
								<div class="on"><img src="pic/power.png" width="100%"></div>
								<div class="off"><img src="pic/power-button.png" width="100%"></div>

							</form>
							<div>
								<button class="speed-button" data-speed="0.8">1</button>
								<button class="speed-button" data-speed="0.2">2</button>
								
							</div>
						</div>
						</span>
                    </li>
                }
				if(device is RgbLight)
				{
					<li>
					<span class="textlight">
						<div class="text ">
							<h3>RGB Light</h3>
							<div class="rgb-light">
								<div class="rgb-color"></div>
							</div>
							<form class="rgb-input">
								<label for="color-picker" class="color-label">Chọn màu:</label>
								<input type="color" id="color-picker" value="#ff0000">
								<button type="button" id="toggle-button" class="toggle-btn">Bật/Tắt</button>
							</form>
							
						</div>
						</span>
						</li>
				}
            }
        }
    }

</ul>

