<nav>
    <i class='bx bx-menu'></i>
    <form action="#">
        <div class="form-input">
            <input type="search" placeholder="Search...">
            <button type="submit" class="search-btn"><i class='bx bx-search'></i></button>
        </div>
    </form>
    <input type="checkbox" id="switch-mode" hidden>
    <label for="switch-mode" class="switch-mode"></label>
    <a href="#" class="notification">
        <i class='bx bxs-bell'></i>
        <span class="num">3</span>
    </a>
    <div class="profile-btn-wrapper">
        <a href="#" class="profile">
            <img src="pic/profile.jpg">
        </a>
        <button id="account-btn" class="account-btn">
            <i class='bx bxs-down-arrow'></i>
        </button>
    </div>
    <div id="account-menu" class="account-menu">
        <ul>
            <li><a href="#">Account</a></li>
            <li><a href="#">Log out</a></li>
        </ul>
    </div>
</nav>
