<section id="sidebar">
    <a href="#" class="brand">
        <i class='bx bx-shape-polygon'></i>
        <span class="text">WebApp</span>
    </a>
    <ul class="side-menu top">
        <li class="active">
            <a href="Yourhouse.html">
                <i class='bx bxs-home-heart'></i>
                <span class="text">Your house</span>
            </a>
        </li>
        <li>
            <a href="Room.html">
                <i class='bx bxs-building'></i>
                <span class="text">Room</span>
            </a>
        </li>
        <li>
            <a href="Device.html">
                <i class='bx bxs-devices'></i>
                <span class="text">Device</span>
            </a>
        </li>
        <li>
            <a href="Setting.html">
                <i class='bx bxs-cog'></i>
                <span class="text">Settings</span>
            </a>
        </li>
    </ul>
</section>
