<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href='https://unpkg.com/boxicons@2.0.9/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="~/css/house.css">
    <title>@ViewBag.Title - SmartHome</title>
</head>
<body>
    <!-- SIDEBAR -->
    <partial name="_Sidebar" />

    <!-- CONTENT -->
    <section id="content">
        <!-- NAVBAR -->
        <partial name="_Navbar" />
        <!-- MAIN CONTENT AREA -->
        <main>
            <div id="renderBodyContent">
                @RenderBody()
                
            </div>
            <div id="loading" style="display:none;">
                <div class="loader-wrapper">
                    <i class='bx bx-loader-alt bx-spin bx-rotate-90' ></i>
                </div>
            </div>
        </main>
    </section>
    <script src="~/js/house.js"></script>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
