<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href='https://unpkg.com/boxicons@2.0.9/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="~/sc7.css">
    <title>@ViewBag.Title - WebApp</title>
</head>
<body>
    <!-- SIDEBAR -->
    <partial name="_Sidebar" />

    <!-- CONTENT -->
    <section id="content">
        <!-- NAVBAR -->
        <partial name="_Navbar" />
        <!-- MAIN CONTENT AREA -->
        <main>
            @RenderBody()
        </main>
    </section>
    @RenderSection("Scripts", required: false)
    <link rel="stylesheet" href="~/Template/sc7/sc7.css" />
    <script src="~/Template/sc7/sc7.js"></script>
</body>
</html>
