<button id="addBtn" class="addBtn">
    <i class='bx bxs-message-alt-add'></i>
</button>
<div id="addModal" class="modal">
    <div class="modal-content">
        <span class="close">&times;</span>
        <h2>Thêm mới</h2>
        <form asp-action="Create" method="post">
            <label for="Name">Tên:</label>
            <input type="text" id="Name" name="Name" required>
            <br>
            <label for="Address">Địa chỉ:</label>
            <textarea id="Location" name="Location" rows="4" required></textarea>
            <br>
            <button type="submit">Lưu</button>
        </form>
    </div>
</div>