@model IEnumerable<DAO.BaseModels.House>

@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}

<h2>title</h2>
<main>
    <button id="addBtn" class="addBtn">
        <i class='bx bxs-message-alt-add'></i>
    </button> 
    
    <div id="addModal" class="modal">
        <div class="modal-content">
            <span class="close">&times;</span>
            <h2>Thêm mới</h2>
            <form id="addForm">
                <label for="Name">Tên:</label>
                <input type="text" id="Name" name="Name" required>
                <br>
                <label for="Info">Thông tin:</label>
                <textarea id="Info" name="Info" rows="4" required></textarea>
                <br>
                <button type="submit">Lưu</button>
            </form>
        </div>
    </div>

    <ul class="box-info" id="boxInfoList">
        @foreach (var item in Model)
        {
            <li>
                <div class="box-info-item">
                    <h3>@item.Name</h3>
                    <p>@item.Location</p>
                    <button class="editBtn" data-id="@item.ID">
                        <i class='bx bxs-edit'></i>
                    </button>
                    <button class="deleteBtn" data-id="@item.ID">
                        <i class='bx bxs-trash'></i>
                    </button>
                </div>
            </li>
        }
    </ul>
</main>